[submodule "tumble_emacs_cpp"]
	path = emacs_cpp_netcore
	url = git@github.com:duca/tumble_emacs_cpp.git
[submodule "exec_pdflatex"]
	path = exec_pdflatex
	url = git@github.com:duca/exec_pdflatex.git
